<p id="notice"><%= notice %></p>

<p>
  <strong>Ans1:</strong>
  <%= @part1.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @part1.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @part1.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @part1.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @part1.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @part1.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @part1.ans7 %>
</p>

<p>
  <strong>Ans8:</strong>
  <%= @part1.ans8 %>
</p>

<p>
  <strong>Ans9:</strong>
  <%= @part1.ans9 %>
</p>

<p>
  <strong>Ans10:</strong>
  <%= @part1.ans10 %>
</p>

<%= link_to 'Edit', edit_part1_path(@part1) %> |
<%= link_to 'Back', part1s_path %>
