<h1>New Perspective: Part 1</h1>
<p>Instructions: Answer the following questions.</p>

<div class="question1">
    <label>Question 1</label>

    <br><%= radio_button_tag(:ans1, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans1, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans1, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans1, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question2">
    <label>Question 2</label>

    <br><%= radio_button_tag(:ans2, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans2, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans2, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans2, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question3">
    <label>Question 3</label>

    <br><%= radio_button_tag(:ans3, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans3, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans3, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans3, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question4">
    <label>Question 4</label>

    <br><%= radio_button_tag(:ans4, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans4, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans4, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans4, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question5">
    <label>Question 5</label>

    <br><%= radio_button_tag(:ans5, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans5, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans5, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans5, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question6">
    <label>Question 6</label>

    <br><%= radio_button_tag(:ans6, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans6, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans6, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans6, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question7">
    <label>Question 7</label>

    <br><%= radio_button_tag(:ans7, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans7, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans7, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans7, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question8">
    <label>Question 8</label>

    <br><%= radio_button_tag(:ans8, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans8, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans8, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans8, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question9">
    <label>Question 9</label>

    <br><%= radio_button_tag(:ans9, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans9, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans9, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans9, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question10">
    <label>Question 10</label>

    <br><%= radio_button_tag(:ans10, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans10, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans10, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans10, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<%= button_to "Next Page", part2_index_path, method: :get %>
