<p id="notice"><%= notice %></p>

<p>
  <strong>Ans1:</strong>
  <%= @part4.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @part4.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @part4.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @part4.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @part4.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @part4.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @part4.ans7 %>
</p>

<p>
  <strong>Ans8:</strong>
  <%= @part4.ans8 %>
</p>

<p>
  <strong>Ans9:</strong>
  <%= @part4.ans9 %>
</p>

<p>
  <strong>Ans10:</strong>
  <%= @part4.ans10 %>
</p>

<%= link_to 'Edit', edit_part4_path(@part4) %> |
<%= link_to 'Back', part4s_path %>
