<%= form_with(model: part3, local: true) do |form| %>
  <% if part3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part3.errors.count, "error") %> prohibited this part3 from being saved:</h2>

      <ul>
        <% part3.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>21) In a professional setting, women are more likely to be interrupted than men.</label>
    <%= form.label :ans1, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans1, 1.0%>

    <%= form.label :ans1, "Important", value: 0.5 %>
    <%= form.radio_button :ans1, 0.5%>

    <%= form.label :ans1, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans1, 0.25 %>

    <%= form.label :ans1, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans1, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>22) A single father is praised for ordinary parental duties while a single mother simpy, expected to do the same.</label>
    <%= form.label :ans2, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans2, 1.0 %>

    <%= form.label :ans2, "Important", value: 0.5 %>
    <%= form.radio_button :ans2, 0.5 %>

    <%= form.label :ans2, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans2, 0.25 %>

    <%= form.label :ans2, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans2, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>23) A woman feels uncomfortable walking alone at night. </label>
    <%= form.label :ans3, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans3, 1.0 %>

    <%= form.label :ans3, "Important", value: 0.5 %>
    <%= form.radio_button :ans3, 0.5 %>

    <%= form.label :ans3, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans3, 0.25 %>

    <%= form.label :ans3, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans3, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>24) A doctor is less likely to take female patients seriously versus male patients.</label>
    <%= form.label :ans4, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans4, 1.0 %>

    <%= form.label :ans4, "Important", value: 0.5 %>
    <%= form.radio_button :ans4, 0.5 %>

    <%= form.label :ans4, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans4, 0.25 %>

    <%= form.label :ans4, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans4, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>25) Medical research focuses more on ailmets more common to men than women.</label>
    <%= form.label :ans5, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans5, 1.0 %>

    <%= form.label :ans5, "Important", value: 0.5 %>
    <%= form.radio_button :ans5, 0.5 %>

    <%= form.label :ans5, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans5, 0.25 %>

    <%= form.label :ans5, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans5, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>26) A woman loses professional opportunities as a result of being a mother.</label>
    <%= form.label :ans6, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans6, 1.0 %>

    <%= form.label :ans6, "Important", value: 0.5 %>
    <%= form.radio_button :ans6, 0.5 %>

    <%= form.label :ans6, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans6, 0.25 %>

    <%= form.label :ans6, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans6, 0.0 %>
  </div>

<p></p>

  <div class="field">
    <label>27) A female employee earns less for doing the same amount of work as a male employee.</label>
    <%= form.label :ans7, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans7, 1.0 %>

    <%= form.label :ans7, "Important", value: 0.5 %>
    <%= form.radio_button :ans7, 0.5 %>

    <%= form.label :ans7, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans7, 0.25 %>

    <%= form.label :ans7, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans7, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>28) Higher paying fields are typically favor masculine qualities.</label>
    <%= form.label :ans8, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans8, 1.0 %>

    <%= form.label :ans8, "Important", value: 0.5 %>
    <%= form.radio_button :ans8, 0.5 %>

    <%= form.label :ans8, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans8, 0.25 %>

    <%= form.label :ans8, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans8, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>29) Academic resources are more likely to cite the work of one gender over another.</label>
    <%= form.label :ans9, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans9, 1.0 %>

    <%= form.label :ans9, "Important", value: 0.5 %>
    <%= form.radio_button :ans9, 0.5 %>

    <%= form.label :ans9, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans9, 0.25 %>

    <%= form.label :ans9, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans9, 0.0 %>
  </div>

  <p></p>

  <div class="field">
    <label>30) Growing up, a child has few positive role models of their gender to choose from in media, history books, fiction, and more.</label>
    <%= form.label :ans10, "Very Important", value: 1.0 %>
    <%= form.radio_button :ans10, 1.0 %>

    <%= form.label :ans10, "Important", value: 0.5 %>
    <%= form.radio_button :ans10, 0.5 %>

    <%= form.label :ans10, "Unimportant", value: 0.25 %>
    <%= form.radio_button :ans10, 0.25 %>

    <%= form.label :ans10, "Very Unimportant", value: 0.0 %>
    <%= form.radio_button :ans10, 0.0 %>
  </div>

  <div class="actions">
    <%= form.submit "Next"%>
  </div>
<% end %>
