<p id="notice"><%= notice %></p>

<p>
  <strong>Ans1:</strong>
  <%= @part3.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @part3.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @part3.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @part3.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @part3.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @part3.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @part3.ans7 %>
</p>

<p>
  <strong>Ans8:</strong>
  <%= @part3.ans8 %>
</p>

<p>
  <strong>Ans9:</strong>
  <%= @part3.ans9 %>
</p>

<p>
  <strong>Ans10:</strong>
  <%= @part3.ans10 %>
</p>

<%= link_to 'Edit', edit_part3_path(@part3) %> |
<%= link_to 'Back', part3s_path %>
