<h1>New Perspective: Part 2 *Prototype*</h1>

<p>Instructions: Answer the following questions.</p>


<div class="question11">
    <label>Question 11</label>

    <br><%= radio_button_tag(:ans11, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans11, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans11, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans11, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question12">
    <label>Question 12</label>

    <br><%= radio_button_tag(:ans12, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans12, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans12, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans12, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question13">
    <label>Question 13</label>

    <br><%= radio_button_tag(:ans13, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans13, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans13, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans13, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question14">
    <label>Question 14</label>

    <br><%= radio_button_tag(:ans14, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans14, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans14, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans14, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question15">
    <label>Question 15</label>

    <br><%= radio_button_tag(:ans15, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans15, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans15, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans15, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question16">
    <label>Question 16</label>

    <br><%= radio_button_tag(:ans16, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans16, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans16, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans16, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question17">
    <label>Question 17</label>

    <br><%= radio_button_tag(:ans17, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans17, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans17, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans17, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question18">
    <label>Question 18</label>

    <br><%= radio_button_tag(:ans18, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans18, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans18, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans18, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question19">
    <label>Question 19</label>

    <br><%= radio_button_tag(:ans19, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans19, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans19, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans19, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<div class="question20">
    <label>Question 20</label>

    <br><%= radio_button_tag(:ans20, "strongly_agree") %>
    <%= label_tag(:ans_Str_agree, "Strongly Agree") %>
    <br><%= radio_button_tag(:ans20, "agree") %>
    <%= label_tag(:ans_agree, "Agree") %>
    <br><%= radio_button_tag(:ans20, "disagree") %>
    <%= label_tag(:ans_disagree, "Disagree") %>
    <br><%= radio_button_tag(:ans20, "strongly_disagree") %>
    <%= label_tag(:ans_Str_disagree, "Strongly Disagree") %>
</div>

<p></p>

<%= button_to "Previous Page", part1_index_path, method: :get %>
<%= button_to "Results", results_index_path, method: :get %>

