<p id="notice"><%= notice %></p>

<p>
  <strong>Ans1:</strong>
  <%= @part2.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @part2.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @part2.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @part2.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @part2.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @part2.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @part2.ans7 %>
</p>

<p>
  <strong>Ans8:</strong>
  <%= @part2.ans8 %>
</p>

<p>
  <strong>Ans9:</strong>
  <%= @part2.ans9 %>
</p>

<p>
  <strong>Ans10:</strong>
  <%= @part2.ans10 %>
</p>

<%= link_to 'Edit', edit_part2_path(@part2) %> |
<%= link_to 'Back', part2s_path %>
